.card-body{
    color: #ffffff;
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.card{
    color: black;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 5%;
    background-color: transparent;
}
.chcolor{S
    color: black;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    background-image: url(nightsky.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
    background-color: transparent;
}
.titlepic{
width: 30%;
}
.titlediv{
    text-align: center;
}